        <footer class="container-fluid mt-auto" style="background-color: #d0d0d0">
            <!-- TODO: Update these with new wireframe content, copied from thirty-seven.org -->
            <address class="text-center">
                <a href="http://magliery.com/">Tom Magliery</a>,
                <a href="mailto: tom@thirty-seven.org">tom@thirty-seven.org</a>
            </address>
        </footer>
    </body>
</html>