<!-- Simple footer information and possibly contact links -->
<footer>
    <!-- TODO: Update these with new wireframe content, copied from thirty-seven.org -->
    <address class="container-fluid text-center">
        <a href="http://magliery.com/">Tom Magliery</a>,
        <a href="/contact">tom@magliery.com</a>
    </address>
</footer>
