<!-- Contains the navigation bar that should stay the same through pages. -->
<!-- TODO: Update this with new wireframe content, copied from thirty-seven.org -->
<nav style="width: 105px" bgcolor="d0d0d0">
    <a class="navbar-brand" href="/">37</a>
    <a href="#">amazing</a><br />
    <a href="#">historical</a><br />
    <a href="#">ephemeral</a><br />
    <a href="#">random</a><br />
    <a href="#">sports</a><br />
    <a href="#">scientific</a><br />
    <a href="#">personal</a><br />
    <a href="#">numerical</a><br />
    <a href="#">movies</a><br />
    <a href="#">comics</a><br />
    <a href="#">media</a><br />
    <a href="#">37th things</a><br />
    <a href="#">pictures</a><br />
    <a href="#">sounds</a><br />
    <a href="#">links</a><br />
    <a href="#">multiples</a><br />
    <hr size="1" />
    <a href="#">but why??</a><br />
    <hr size="1" />
    <address>
        <font size="-2">
            <a href="http://magliery.com/">Tom Magliery</a>
            <br />
            <a href="/contact">tom@magliery.com</a>
        </font>
    </address>
    <br />
    <a href="http://www.earthflag.net/">
        <img border="0" src="images/earthflag-45h.jpg" />
    </a>
</nav>
