.fact {
    color: #370370;
    background-color: white;
}

.fact > .accordion-header {
    font-family: '37', sans-serif;
}

.fact > .accordion-header > .accordion-button {
    color: #370370;
    background-color: #de94b9;
}

.fact > .accordion-header > .accordion-button:hover {
    color: #370370;
    background-color: #b9b9de;
}

.fact > .accordion-header > .accordion-button:focus {
    color: #370370;
    background-color: #b9b9de;
}

.pagination {
    color: #370370;
    background-color: #dedede;
}

.pagination > .page-item > .page-link {
    color: #370370;
    background-color: white;
}

.pagination > .page-item > .page-link:hover {
    color: #370370;
    background-color: white;
}