@font-face {
  font-family: '37';
  src: url('./no_name_37_Regular.otf') format('opentype');
}

@font-face {
  font-family: '74';
  src: url('./Planet\ 37.ttf') format('opentype');
}

body {
    font-family: '37', sans-serif !important;
    color: #370370;
    background-color: #dedeb9;
}

h1, h2, h3 {
    font-family: '74', sans-serif !important;
}

.btn-primary {
    color: #370370 !important;
    background-color: #b9b9de !important;
    border-color: #b9b9de !important;
}

.btn-primary:hover {
    color: #370370 !important;
    background-color: #de94b9 !important;
    border-color: #de94b9 !important;
}

nav,
nav > .offcanvas {
    color: #370370;
    background-color: #dedede;
}

nav > .offcanvas a {
    color: #370370;
}

nav > .offcanvas a:hover {
    color: #de94b9;
}

nav > button {
    background-color: #dedeb9 !important;
}

nav > button:hover {
    background-color: #b9b9de !important;
}

nav > .login a {
    color: #dedeb9 !important;
}

nav > .login a:hover {
    color: #b9b9de !important;
}

.form-control {
    color: #370370 !important;
    background-color: #dedede;
}

.fact {
    color: #370370;
    background-color: #dedede;
}

.fact > h2 {
    font-family: '37', sans-serif !important;
}

.fact > h2 > button {
    color: #370370 !important;
    background-color: #dedede !important;
}

.fact > h2 > button:hover {
    color: #370370 !important;
    background-color: #b9b9de !important;
}

.fact > h2 > button:focus {
    color: #370370 !important;
    background-color: #b9b9de !important;
}

.pagination {
    color: #370370;
    background-color: #dedeb9;
}

.pagination > .page-item > .page-link {
    color: #370370;
    background-color: #dedede;
}

.pagination > .page-item > .page-link:hover {
    color: #370370;
    background-color: #b9b9de;
}

footer {
    background-color: #370370;
}

footer > .text-center a {
    color: #dedeb9;
}

footer > .text-center a:hover {
    color: #b9b9de;
}

.alert {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
