@font-face {
  font-family: '37';
  src: url('../font/no_name_37_Regular.otf') format('opentype');
}

@font-face {
  font-family: '74';
  src: url('../font/Planet 37.ttf') format('opentype');
}

body {
    font-family: '37', sans-serif;
    color: #370370;
    background-color: #dedede;
}

h1, h2, h3, h5 {
    font-family: '74', sans-serif;
}

.btn-primary {
    color: #370370;
    background-color: #b9b9de;
    border-color: #b9b9de;
}

.btn-primary:hover {
    color: #370370;
    background-color: #de94b9;
    border-color: #de94b9;
}

.form-control {
    color: #370370;
    background-color: white;
}

.dropdown-menu {
    max-height: 30vh;
    overflow: auto;
}

a:hover {
    color:#de94b9;
}
