<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <!-- TODO: Change the main page content within here! -->
</main>

<%- include('../partials/footer'); %>
