<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <h1 class="text-center my-5">Contacting Me</h1>

    <div class="container text-center mb-5" id="email">
        <p>
            I love hearing from fans of the number 37. Feel free to send me
            email. I do hope I will hear from you.
        </p>
        <p>Email: <a href="mailto: tom@thirty-seven.org">tom@thirty-seven.org</a></p>
    </div>

    <div class="container text-center mb-5" id="personalSite">
        <p>Also feel free to visit my personal website.</p>
        <p>Website: <a href="http://magliery.com/">Tom Magliery</a></p>
    </div>
</main>

<%- include('../partials/footer'); %>
