<%- include('../partials/header'); %> 
<%- include('../partials/navbar'); %>

<main class="container-xl mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-left mb-4">Submit a Fact: </h3>
            <small id="submit-note" class="form-text text-muted">Please make sure all fields are filled.</small>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>