<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
  <br>

  <div class="input-group">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Look up a fact by text..." 
    />
    <button 
      class="btn btn-outline-secondary" 
      type="button" 
      id="search-by-text-btn"
    >
      Search
    </button>
  </div>

  <!-- Factoids Section -->
  <!-- <div id="factoids">
    <% factoids.forEach(function(factoid) { %>
      <% include('../partials/fact', { factoid: factoid }); %>
    <% }); %>
  </div> -->
  <div id="factoids">
    <% for (let i=0; i < factoids.length; i++) { %>
      <% include('../partials/fact', { factoid: factoids[i], factIndex: i + 1 }); %>
    <% } %>
  </div>
  
</main>

<%- include('../partials/footer'); %>
