<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
  <div class="input-group">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Look up a fact by text..." 
    />
    <button 
      class="btn btn-outline-secondary" 
      type="button" 
      id="search-by-text-btn"
    >
      Search
    </button>
  </div>
</main>

<%- include('../partials/footer'); %>
