<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
  <br>

  <div class="input-group mb-5 mt-3">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Look up a fact by text..." 
    />
    <button 
      class="btn btn-outline-secondary" 
      type="button" 
      id="search-by-text-btn"
    >
      Search
    </button>
  </div>

  <!-- Factoids Section -->
  <div id="factoids" class="container accordion ps-0">
    <% if (factoids) { %>
      <% factoids.forEach((factoid) => { %>
      <%- include('../partials/fact', { factoid, accordionParent: '#factoids' }) %>
    <% }) %>
    <% } %>
  </div>

</main>

<%- include('../partials/footer'); %>
