<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <div class="jumbotron text-center">
        <h1>Welcome to 37 Heaven!</h1>
    </div>
</main>

<%- include('../partials/footer'); %>
