<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <form action="/api/attachment" method="post" enctype="multipart/form-data">
        <input type="file" class="form-control" name="file">
        <input type="file" class="form-control" name="file">
        <input type="submit" value="Submit">
    </form>

    <form action="/api/fact" method="POST" enctype="multipart/form-data">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId"><br>
    
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br>
    
        <label for="discovery_date">Discovery Date:</label>
        <input type="date" id="discovery_date" name="discovery_date"><br>
    
        <label for="note">Note:</label>
        <textarea id="note" name="note"></textarea><br>
    
        <label for="tag">Tags:</label>
        <input type="text" id="tag" name="tag"><br>

        <label for="attachment">Links:</label>
        <input type="text" name="attachment"><br>
    
        <label for="attachment">Attachments:</label>
        <input type="file" id="attachment" name="attachment" multiple><br>
    
        <button type="submit">Submit</button>
    </form>
</main>

<%- include('../partials/footer'); %>